extends layout

block content
  .acerca
    h2 Acerca de MuseArte
    p Aplicación desarrollada como proyecto académico.

    h3 Características del Proyecto
    ul
      li Galería de arte moderno con obras ficticias.
      li Interfaz intuitiva y fácil de navegar.
      li Información detallada sobre cada obra (autor, año, descripción).
      li Diseño responsivo para dispositivos móviles y escritorio.
      li Rutas dinámicas para visualizar información específica.
      li Estética inspirada en museos modernos.

    h3 Sobre el Creador
    p Este proyecto fue realizado por Francy Barrera, estudiante de Sistemas en UTS.
    p Apasionada por el desarrollo web, la creatividad digital y las interfaces interactivas, he creado MuseArte para fusionar el arte visual con la programación, explorando nuevas formas de presentar contenido artístico en línea.

    p Puedes encontrar el código fuente en GitHub, Vercel o contactarme para más información.



