extends layout

block content
  .inicio-fondo
    .contenido
      
      h2 Bienvenido a MuseArte
      h4 Un recorrido por las emociones del arte moderno.
      p Explora nuestra galería y descubre obras de arte que te inspirarán. 
      p  MuseArte es un espacio virtual donde las emociones se entrelazan con formas, colores y sueños. 
      | Sumérgete en nuestra galería de arte moderno, descubre creaciones únicas y déjate inspirar 
      | por la imaginación ilimitada de artistas ficticios. Cada obra tiene una historia que espera ser contada...
      img(src="/img/logo-musearte.png", alt="MuseArte Logo", class="logo-centro")