doctype html
html
  head
    title Galería de Arte
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Galería de Arte
      nav
        a(href="/") Inicio |
        a(href="/galeria") Galería |
        a(href="/acerca") Acerca
    main
      block content
